PORT =
CLIENT_URL =

SQL_DEFAULT_AVATAR_URL =
SQL_HOST =
SQL_USERNAME =
SQL_PASSWORD =
SQL_DATABASE_NAME =
SQL_PORT =

ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 
RESET_PASSWORD_TOKEN_SECRET =

GOOGLE_EMAIL =
GOOGLE_EMAIL_PASSWORD =
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_OAUTH_ENDPOINT = 

CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
CLOUDINARY_CLOUD_NAME =

VNPAY_PASSWORD =
VNPAY_TMN_CODE =
VNPAY_HASH_SECRET =
VNPAY_SANDBOX_URL =